h1 {
  color: mediumvioletred;
  font-family:fantasy;
  font-size: 50;
  line-height: .08;
}

h2 {
  color: CornflowerBlue;
  font-family: cursive;
  line-height: 1;
}

.flashy {
  color: red;
  font-style: italic;
}

body {
  background-color: lemonchiffon;
    text-align: center;
}

p.intro {
  width: 50%;
  font-style: sans-sarif;
}
