h1 {
  color: mediumvioletred;
  font-family:fantasy;
  font-size: 50;
  line-height: .25;
}

h2 {
  color: CornflowerBlue;
  font-family: cursive;
}

.flashy {
  color: red;
  font-style: italic;
}

body {
  background-color: lemonchiffon;
    text-align: center;
}
